/*for mobile*/
@media screen and (any-pointer:coarse) {
    .hidden{
        display: none;
    }
    body{
        background-size: 250%;
        background-position: top;
    }
    button:hover,button:focus{
        color: white;
        background-color: black;
    }
    h1{
        color: red;
    }
}
    