/*for mobile*/
@media (hover:none) and (pointer:coarse) {
    .hidden{
        display: none;
    }
    body{
        background-size: 250%;
        background-position: top;
    }
    button:hover,button:focus{
        color: white;
        background-color: black;
    }
    /*#h1id1,#h1id2,#h1id3{color: red;}*/
    .h1class{color: blue;}
    h1:nth-of-type(1){color: red;}
} 