/*for pc*/
    @media screen and (any-pointer: fine){
        .hidden{
            display: none;
        }
        body{
            background-size: cover;
        }
        button:hover,button:focus{
            color: white;
            background-color: black;
        }
        h2{
            border: 3px solid lightgrey;
        }
        h1{
            color: magenta;
        }    
    }
    